<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Edit user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Изменение данных участника</h1>
<br/><br/>
<div>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}">
    <label for="name">Имя</label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/><br/>
    <label for="lastName">Фамилия</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/><br/>
    <label for="city">Город</label>
    <input type="text" th:field="*{city}" id="city"/>
    <br/><br/>
    <input type="submit" value="Изменить участника"/>
</form>
    <p> Вернуться к  <a href="/users"> списку участников</a></p>
</div>
</body>
</html>